python-dotenv
rich
requests
pandas
plotly
streamlit
streamlit-extras
nbformat
ipykernel
pytest
pytest-cov
pytest-xdist
responses
pydeck
geopandas
shapely
moviepy
playwright
imageio
imageio-ffmpeg
numpy
reverse_geocoder
scikit-learn
moviepy
